<div [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar"  color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="navService.toggle()"
        style="color: white"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-name mt-3"></h1>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #appDrawer
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      [disableClose]="false"
    >
      <mat-nav-list>
        <nav-menu-item
          *ngFor="let item of navItems"
          [item]="item"
        ></nav-menu-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card
        [ngClass]="[
           'card' ,
          isFullScreen ? 'fullscreen' : ''
        ]"
      >
        <mat-card-header  class="nav card-header">
          <mat-progress-bar
            class="card-header-progress"
            *ngIf="isLoading"
            mode="indeterminate"
          >
          </mat-progress-bar>
          <div class="card-header-content">
            <div class="card-header-navigation">
              <a
                [routerLink]="['/']"
                mat-icon-button
                matTooltip="Home"
                [color]="'primary'"
              >
                <mat-icon>home</mat-icon>
              </a>
              {{ uiInfo?.title }}
            </div>
            <div *ngIf="uiInfo" class="nav-ui-actions">
              <ng-container
                *ngTemplateOutlet="uiInfo?.additionalComponent"
              ></ng-container>

              <button
                type="button"
                *ngIf="uiInfo?.goFullScreen || isFullScreen"
                mat-icon-button
                color="accent"
                matTooltip="Maximize to fullscreen"
                (click)="toggleFullScreen()"
              >
                <mat-icon>{{
                  isFullScreen ? "fullscreen_exit" : "fullscreen"
                }}</mat-icon>
              </button>
              <a
                [routerLink]="[uiInfo?.editPath]"
                *ngIf="uiInfo?.editPath"
                mat-icon-button
                matTooltip="Edit"
              >
                <mat-icon>edit</mat-icon>
              </a>
              <a
                [routerLink]="[uiInfo?.goBackPath]"
                *ngIf="uiInfo?.goBackPath"
                mat-icon-button
                matTooltip="Go Back"
              >
                <mat-icon>arrow_back</mat-icon>
              </a>
              <a
                *ngIf="uiInfo?.goBack"
                mat-icon-button
                matTooltip="Back"
                (click)="uiInfo?.goBack()"
              >
                <mat-icon>arrow_back</mat-icon>
              </a>
              <a
                *ngIf="uiInfo?.goNext"
                mat-icon-button
                matTooltip="Next"
                (click)="uiInfo?.goNext()"
              >
                <mat-icon>arrow_forward</mat-icon>
              </a>
              <button
                type="button"
                *ngIf="uiInfo?.qrcode"
                mat-icon-button
                color="accent"
                matTooltip="Print All QR"
                (click)="uiInfo?.qrcode()"
              >
                <img
                  src="../../../../assets/images/qr1.png"
                  alt="qr-code"
                  height="20px"
                  width="20px"
                />
              </button>
              <a
                [routerLink]="[uiInfo?.refreshPath]"
                *ngIf="uiInfo?.refreshPath"
                mat-icon-button
                matTooltip="Refresh"
              >
                <mat-icon>refresh</mat-icon>
              </a>
              <button
                type="button"
                *ngIf="uiInfo?.refresh"
                mat-icon-button
                color="primary"
                matTooltip="Refresh"
                (click)="uiInfo?.refresh()"
              >
                <mat-icon>refresh</mat-icon>
              </button>
              <a
                [routerLink]="[uiInfo?.addNewPath]"
                *ngIf="uiInfo?.addNewPath"
                mat-icon-button
                matTooltip="Add New"
                color="primary"
              >
                <mat-icon>add_box</mat-icon>
              </a>
              <button
                type="reset"
                [attr.form]="uiInfo?.formId"
                *ngIf="uiInfo?.formId"
                mat-icon-button
                color="warm"
                matTooltip="Reset"
              >
                <mat-icon>cancel</mat-icon>
              </button>
              <button
                [disabled]="isLoading"
                type="submit"
                [attr.form]="uiInfo?.formId"
                *ngIf="uiInfo?.formId"
                mat-icon-button
                color="primary"
                matTooltip="Save Changes"
              >
                <mat-icon>save</mat-icon>
              </button>
              <button
                type="button"
                *ngIf="uiInfo?.submitAll"
                mat-icon-button
                color="primary"
                matTooltip="Submit"
                (click)="uiInfo?.submitAll()"
              >
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content [ngClass]="!isLoggedIn$ ? 'card-content-auth' : ''">
          <router-outlet *ngIf="routerOutletActive"></router-outlet>
          <div class="iqbal adminfooter" *ngIf="!isFullScreen">
            <div>&copy; Copyright. All rights reserved to BILLAL HOSSAIN.</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
